body  {
  background-color: rgb(243, 205, 201);
}

footer {
  font-size: .8em;
  float: right;
}

h1  {
  padding-bottom: 7px;
}

#title  {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid #555;
}

p {
  background-color: rgb(243, 220, 217);
}

.emph {
  font-style: italic;
  color: #111;
}

.embolden {
  font-weight: 600;
  font-size: 1.1em;
  color: #900;
}

.light-pink {
  color: rgb(243, 220, 217);
}

.salmon-bg {
  background-color: rgb(224, 141, 131);
}

li.check-mark:before { 
  content:"\2714\0020"; 
}    

li.x-mark:before { 
  content:"\2718\0020"; 
}  

ol { list-style-type: none; }

a:link {
  color: #900;
}
a:visited{
  color: #949;
}
a:hover {
    color: #600;
}